<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/StyleSheet1.css" type="text/css" rel="stylesheet" />
    <title>Need Blood</title>


</head>
<body class="v">

    
    <header>
        <div class="main">

            <ul>


                <li class="active"><a href="@Url.Action("Dashboard","Welcome")"> Home </a></li>

                <li><a href="@Url.Action("About","Welcome")"> About</a></li>
                <li><a href="@Url.Action("Contact","Welcome")"> Contact </a></li>








            </ul>

        </div>
        <div class="title">
            <h4 style="color:wheat;">
                Blood management has been recognized as a challenging task because of life threatening nature of blood products entails the punctilious administration due to its perishable nature & required timely processing and it also saves the life.</h4>
                <h4 style="color:wheat;">
                     E-Blood Bank is an integrated blood bank automation system which inter connects all the Blood Banks of the State into a single network.Those electronic processes will help the public for easy access to the blood availability status of blood banks on finger tips; so that he can place a requisition of a particular blood group in nearby blood bank (Especially rare groups) save a valuable life.</h4>
            <h4 style="color:wheat;">
                    It also provides online status of blood group wise availability of blood units in all the licensed blood banks and hospitals in the state. It includes online tracking and trailing system of the blood and blood products (components of blood) by the state level administrators. The system manages all the activities from blood collection both from camps & hospitals till the issue of blood units. It includes donor registration, blood collection, storage of blood-units.
                </h4>
</div>
        
    </header>








</body>
</html>






